@charset 'utf-8';

#mask {
  background: #08141e80;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#clear-screen {
  width: fit-content;
  background: #08141e;
  border: 1px solid antiquewhite;
  padding: 32px;
  position: fixed;
  top: 120px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 200;
}

#clear-screen h2 {
  margin-bottom: 40px;
  font-size: 24px;
}

fieldset {
  width: fit-content;
  padding: 20px 24px;
  margin: 0 auto;
  line-height: 24px;
}

legend {
  text-align: center;
  font-size: 18px;
  line-height: 0px;
}

#share {
  margin-top: 12px;
}

#clear-screen>button {
  display: block;
}

#try-again {
  margin: 32px auto;
  font-size: 20px;
}

#close {
  margin: 8px auto;
}