@charset 'utf-8';

table {
  border-spacing: 6px;
}

td {
  background: rgba(255, 255, 255, 0.1);
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 24px;
}