@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: antiquewhite;
}

@font-face {
  font-family: "manaspec";
  src: url("assets/manaspc.ttf") format("truetype");
}

body {
  background: #08141e;
  font-family: "manaspec", sans-serif;
}

#wrapper {
  height: 100vh;
  background-image: url(assets/bg-img.png);
  background-size: cover;
  animation: bgscroll 1000s linear infinite;
  animation-timing-function: steps(600);
}

@keyframes bgscroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100vh;
  }
}

#main-wrapper {
  height: calc(100vh - 96px);
}

#puzzle-link-wrapper p {
  padding-top: 16px;
  text-align: right;
  margin-right: 18px;
}

main {
  width: fit-content;
  margin: 0 auto;
}

#info-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 48px 0 8px 0;
  margin: 0 6px;
}

#info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 6px 8px 4px 8px;
  appearance: none;
  font-family: "manaspec", sans-serif;
  font-size: 16px;
  width: fit-content;
}

table {
  border-spacing: 6px;
}

td {
  background: rgba(255, 255, 255, 0.1);
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid grey;
  height: 56px;
  font-size: 24px;
}

header p {
  margin-right: 16px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-top: 1px solid grey;
  font-size: 12px;
}