@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  color: grey;
}

@font-face {
  font-family: "manaspec";
  src: url("assets/manaspc.ttf") format("truetype");
}

body {
  background: #08141e;
  font-family: "manaspec", sans-serif;
}

#wrapper {
  height: 100vh;
  background-image: url(assets/bg-img.png);
  background-size: cover;
  animation: bgscroll 1000s linear infinite;
  animation-timing-function: steps(600);
}

@keyframes bgscroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100vh;
  }
}

td {
  border: 1px solid red;
  border-radius: 8px;
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}

header {
  border-bottom: 1px solid grey;
  height: 48px;
}

footer {
  border-top: 1px solid grey;
  height: 40px;
}